<template>
    <div class="emp-card">
        <img src="@/assets/default-pic.jpg"/>
        <div>
            <span>{{user.username}}</span>

            <select class="form-select" @change="onChange($event)">
              <option selected>{{user.status}}</option>
              <option v-for="status in this.statuses" :key="status" :value="status">{{status}}</option>
            </select>
        </div>
    </div>
</template>

<script>

    import UsersService from '../services/UsersService.js'

export default {
    name: 'Card',
    props: {
       user:{
            type: Object,
            required: true
       }
    },
    data(){
        return{
            statuses: ["Working","BusinessTrip","LunchTime","OnVacation"]
        }
    },
    methods: {
        onChange(event) {
            const selectedUserStatus = event.target.value;
            UsersService.updateUserStatus(this.user.id, {status: selectedUserStatus})
            .then(res => {
                console.log(res);
            }).catch(e => {
                console.log(e);
            });
        }
    }
}

</script>

<style scoped>

    .emp-card{
        background-color: white;
        width: 200;
        height: 200px;
        margin: 3px;
        width: 24%;
        flex: 0 1 auto;
        padding: 10px;
    }

    .emp-card img{
        border-radius: 100%;
        height: 120px;
        width: 120px;
    }

</style>