

<template>
 <div class="grid-cards">
        <Card v-for="user in users" :key="user.id" :user="user"></Card>
    </div>
</template>

<script>

import Card from './Card.vue'

export default {
    name: 'GridCards',
    components: {
        Card
    },
    props: {
        users: {
              type: Array,
              required: true
        }
    }
}

</script>

<style scoped>

.grid-cards{
    display: flex;
    flex-flow: row wrap;
}

</style>