<template>
<div class="custom-page-header">
    <span class="title-emp">{{this.title}}</span>
    <button>{{this.btnLogOut}}</button>
</div>
</template>

<script>

export default {
    name: 'Header',
   data(){
    return {
        title: 'Employees',
        btnLogOut: 'Log Out'

    }
   }
}

</script>

<style scoped>
    .title-emp{
        color: #36a5f2;
    }
    .custom-page-header{
        background-color: white;
        display: flex;
        flex-direction: row;
        /*position: fixed;*/
        height: 50px;
        width: 100%;
        padding: 10px 25px;
        justify-content: space-between;
    }
</style>