<template>
<div class="search-container input-group rounded">
  <input type="search" class="form-control rounded" placeholder="Type to search" aria-label="Search"
    aria-describedby="search-addon" v-model="searchUserName" @keyup="searchUser"/>
  <span class="input-group-text border-0" id="search-addon">
    <i class="fas fa-search"></i>
  </span>
</div>

</template>

<script>
export default {
    name: 'Search',
    data(){
        return {
            searchUserName: null
        }
    },
    methods: {
        searchUser() {
            this.$emit('searchUser', {
                searchUserName: this.searchUserName
            });
        }
    }
}
</script>

<style scoped>
    .search-container{
        width: 500px;
    }
</style>