<template>
    <div class="toolbar-container">
        <button class="btn btn-primary btn-style">Create</button>
        <Search @searchUser="searchUser"></Search>
        <select class="form-select" @change="onChange($event)">
          <option v-for="status in this.statuses" :key="status" :value="status">{{status}}</option>
        </select>
    </div>
</template>

<script>
import Search from './Search.vue'

export default {
    name: 'ToolBarActions',
    components: {
        Search
     },
    data(){
         return{
             statuses: ["Working","BusinessTrip","LunchTime","OnVacation"]
         }
     },
    methods: {
         searchUser(searchUserName){
            this.$emit('searchUser', searchUserName);
         },
         onChange(event) {
            const selectedUserStatus = event.target.value;
            this.$emit('filterUserStatus', {
                userStatus: selectedUserStatus
            });
         }
     }
}

</script>

<style scoped>
    .toolbar-container{
        display: flex;
        margin: 25px 0;
    }
    .btn-style{
        margin-right: 4px;
    }


</style>