<template>
  <div id="app">
    <Header></Header>
    <div class="app-container">
        <ToolBarActions @filterUserStatus="filterUserStatus" @searchUser="searchUser"></ToolBarActions>
        <GridCards v-if="this.usersDetails != null" :users="usersDetails"></GridCards>
    </div>
  </div>
</template>

<script>
import Header from './components/Header.vue'
import GridCards from './components/GridCards.vue'
import ToolBarActions from './components/ToolBarActions.vue'
import UsersService from './services/UsersService.js'

export default {
  name: 'App',
  components: {
    Header,
    GridCards,
    ToolBarActions
  },
  data(){
    return {
        usersDetails: null,
        orgUsersDetails: null,
        searchText: null
    }
  },
  beforeMount(){
    UsersService.getUsers().then((usersData) => {
        this.usersDetails = [...usersData.users];
        this.orgUsersDetails = [...usersData.users];
    })
    .catch( e => {
        console.log(e);
    });
  },
   methods: {
        searchUser(searchUserNameDetails){
            this.usersDetails = this.orgUsersDetails.filter((user) => {
                return user.username.includes(searchUserNameDetails.searchUserName);
            });
        },
        filterUserStatus(userStatusDetails){
            this.usersDetails = this.orgUsersDetails.filter((user) => {
                return user.status.includes(userStatusDetails.userStatus);
            });
        }
    }
}
</script>

<style>
    #app{
        background-color: #f5f6f8;
        width: 100%;
        height: 100%;
        position: absolute;
        dispaly: flex;
        flex-direction: column;

    }
    .app-container{
         width: 100%;
         height: 100%;
         padding: 0 200px;
    }
</style>
